body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 26px;
  background-color: #88C299;
  color: #F5F5F5;
  margin: 20px;
}

h2, h4, p {
  margin: 10px 0;
}

.Contenedor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.Item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid #F5F5F5;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
}

.Item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #F5F5F5;
  border-radius: 8px;
}

h2 {
  text-align: center;
  font-size: 36px;
}

h3 { text-align:center;
font-size: 30px }

p {
  font-size: 20px;
}

.menu-boton img {
  position: absolute;
  right: 15px;
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #F5F5F5;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.menu-boton img:hover {
  transform: scale(1.1);
}
