body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f8e9e9;
  color: #57331D;
  font-size: 18px;
}

.carrito {
  position: fixed;
  top: 15px;
  right: 20px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 1000;
}

.carrito img {
  width: 35px;
  height: 35px;
}

.seccion {
  padding: 50px 20px;
  text-align: center;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #57331D;
  font-weight: 600;
}

.carrusel-contenedor {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  margin: auto;
}

.carrusel {
  display: flex;
  gap: 25px;
  overflow: hidden; 
  scroll-behavior: smooth;
  padding-bottom: 10px;
  user-select: none;
}

.carrusel::-webkit-scrollbar {
  display: none;
}

.cuadro {
  background-color: #fff;
  border: 2px solid #57331D;
  border-radius: 15px;
  flex: 0 0 30%;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
}

.cuadro:hover {
  transform: scale(1.03);
}

.cuadro img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.boton {
  background-color: #88C299;
  color: #fff;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s;
}

.boton:hover {
  background-color: #6aa87e;
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(87, 51, 29, 0.9);
  color: #fff;
  border: none;
  font-size: 28px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 200;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flecha.izquierda {
  left: 8px;
}

.flecha.derecha {
  right: 8px;
}

.flecha:hover {
  background-color: #88C299;
}

@media (max-width: 900px) {
  .cuadro {
    flex: 0 0 45%;
  }
}

@media (max-width: 600px) {
  .cuadro {
    flex: 0 0 80%;
  }

  .flecha {
    width: 38px;
    height: 38px;
    font-size: 20px;
  }
}

.menu-boton img {
  position: absolute;
  top: 15px;
  right: 85px;
  display: inline-block;
  width: 55px;
  height: 60px;
  cursor: pointer;
  border: 2px solid #F5F5F5;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.menu-boton img:hover {
  transform: scale(1.1);
}