body {
  background-color: #c6b18b;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  color: #5c1b16;
}

.logo {
  position: absolute;
  top: 5px;
  left: 50px;
  width: 100px;
  height: auto;
  border-radius: 2%;
}

.titulo {
  margin-top: 25px;
  font-size: 50px;
  font-weight: 600;
  color: #5c1b16;
  text-align: center;
  letter-spacing: 2px;
}

.contenedor {
  position: relative;
  width: 90%;
  max-width: 1000px;
  height: 500px;
  border: 2px solid #5c1b16;
  background-color: #c6b18b;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}

.hamburguesa {
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
  z-index: 3;
}

.hamburguesa div {
  width: 25px;
  height: 3px;
  background-color: #5c1b16;
  margin: 5px 0;
  transition: 0.3s;
}

.menu-lateral {
  position: absolute;
  top: 0;
  left: -180px;
  width: 180px;
  height: 100%;
  background-color: #5c1b16;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  z-index: 2;
}

.menu-lateral a {
  color: #f1e1c0;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 20px;
}

.menu-lateral a:hover {
  background-color: #7a2a20;
}

.menu-lateral.activo {
  left: 0;
}

.carrusel {
  width: 80%;
  height: 80%;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

.imagenes {
  display: flex;
  transition: transform 1s ease;
}

.imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(92, 27, 22, 0.7);
  color: white;
  border: none;
  font-size: 24px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 3;
}

.flecha:hover {
  background-color: rgba(92, 27, 22, 1);
}

.flecha.izquierda {
  left: 10px;
}

.flecha.derecha {
  right: 10px;
}

.contacto {
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #5c1b16;
  font-weight: 600;
}

.link-instagram {
  font-size: 20px;
  text-decoration: none;
  color: #5c1b16;
  font-weight: bold;
}

.icono-instagram {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
